* {
    box-sizing: border-box;
}
body {
    background-color: rgb(245, 245, 245);
}
h1 {
    text-align: center;
}
img {
    height: auto;
    width: 750px;
}
.header {
    display: flex;
    background-color:rgb(222, 239, 253) ;
    border-top: 1px slategray solid;
    border-bottom: 1px slategray solid;
    
}
.header-items {
    
}
.header img {
    height: auto;
    width: 50px;
    border-radius: 50%;
    
}
.page-content {
    background-color: rgb(222, 239, 253);
    width: 50%;
    margin: auto;   
}


.ingredients-sauce {
    display: flex;

}