* {
    box-sizing: border-box;
}
body {
    background-color: rgb(245, 245, 245);
}
h1 {
    text-align: center;
}
img {
    height: auto;
    width: 750px;    
}
.header {
    display: flex;
    background-color:rgb(222, 239, 253) ;
    border-top: 1px slategray solid;
    border-bottom: 1px slategray solid;
    justify-content: center;       
}
.header-items {
    width: 900px;
    display: flex;
    justify-content: space-between;
}
.links {
    display: flex;
    align-items: center;
    color: black;
    font-weight: bold;
    text-decoration: none;
    justify-content: end;
   /* width: 100px;*/
    
}
a:hover {
    text-decoration: underline;   
}
.header img {
    height: auto;
    width: 50px;
    border-radius: 50%;    
 
}
.page-content {
    background-color: rgb(222, 239, 253);
    width: 60%;
    margin: auto;
    padding-block-start: 2px;
    margin-top: 10px;
       
}
.image {
    /*display: flex;*/
    padding-left: 150px;
}


.ingredients-sauce {
    display: flex;
}